body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
}

h2 {
  color: #333;
}

#skills{
  background: gray;
  color: #fff;
}

#about{
  background: grey;
  color: #fff;
}

#projects{
  background: gray;
  color: #fff;
}

#contact{
  background: grey;
  color: whitesmoke;
}

#portfolio{
  color: black;
}

.tools{
  display: inline;
}

#abc{
  color: black;
}

.nn{
  display: inline;
}
#vv{
  color: black;
}

#project2{
  color: black;
}

.email{
  display: inline;
}

#ww{
  color: black;
}

.one{
  display: inline;
  background-color: black;
  color: white;
  gap: 30px;
  
}

#menu{
  background-color: black;
 align-items:center;
  justify-content: center;
  display: flex;
  gap: 25px;
  margin: 0%;
  padding: 0%;
  gap: 60%;
}